/*
	@name 06_account_view_details
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 2834px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg___06_account_view_details {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 2834px;
	background:rgba(255,255,255,1);
}


#rectangle_270 {
	top: 223px;
	left: 50px;
	width: 1340px;
	height: 332px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-ms-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}


#rectangle_273 {
	top: 590px;
	left: 50px;
	width: 1340px;
	height: 983px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-ms-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}


#rectangle_272 {
	top: 1617px;
	left: 50px;
	width: 1340px;
	height: 199px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-ms-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.25);
	background:rgba(229,244,255,1);
}


#account_number {
	top: 337px;
	left: 96px;
	width: 211px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#available_balance {
	top: 337px;
	left: 522px;
	width: 211px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#branch {
	top: 337px;
	left: 948px;
	width: 211px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#_1234567891234567 {
	top: 367px;
	left: 96px;
	width: 451px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#view_nomination_and_pan_details {
	top: 472px;
	left: 96px;
	width: 451px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#0067B8;
}


#view_all_balances {
	top: 472px;
	left: 522px;
	width: 451px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#0067B8;
}


#last_10_transactions {
	top: 472px;
	left: 948px;
	width: 451px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#0067B8;
}


#__xxxxxxx_show {
	top: 367px;
	left: 522px;
	width: 211px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#mi_road__jaipur {
	top: 367px;
	left: 948px;
	width: 211px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#rectangle_271 {
	top: 223px;
	left: 50px;
	width: 1340px;
	height: 70px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(229,244,255,1);
}

#icon_popularsaving_account_1 {
	top: 228px;
	left: 78px;
	width: 73px;
	height: 73px;
}

#vector {
	top: 11.68px;
	left: 17.52px;
	width: 35.04px;
	height: 35.04px;
}


#vector_ek1 {
	top: 11.68px;
	left: 14.6px;
	width: 40.88px;
	height: 29.2px;
}


#savings_account {
	top: 240px;
	left: 144px;
	width: 445px;
	height: 52px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color:#0067B8;
}
#loans_account {
	top: 550px;
	left: 144px;
	width: 445px;
	height: 52px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color:#0067B8;
}
#current_account {
	top: 430px;
	left: 144px;
	width: 445px;
	height: 52px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color:#0067B8;
}


#line_82 {
	top: 420px;
	left: 50px;
	width: 1340px;
	height: 1px;
	background:#DDDDDD;
}


#line_83 {
	top: 492px;
	left: 100px;
	width: 336px;
	height: 1px;
	background:#0067B8;
}


#line_84 {
	top: 492px;
	left: 525px;
	width: 173px;
	height: 1px;
	background:#0067B8;
}


#_line_85 {
	top: 492px;
	left: 950px;
	width: 195px;
	height: 1px;
	background:#0067B8;
}

#idea_bulb_icon_1 {
	top: 1647px;
	left: 100px;
	width: 128px;
	height: 138px;
}

#vector_ek2 {
	top: 107.62px;
	left: 49.39px;
	width: 29.86px;
	height: 30.38px;
}


#vector_ek3 {
	top: 0px;
	left: 62.97px;
	width: 8.95px;
	height: 18.46px;
}


#vector_ek4 {
	top: 15.33px;
	left: 98.33px;
	width: 14.05px;
	height: 16.81px;
}


#vector_ek5 {
	top: 55.55px;
	left: 109.81px;
	width: 18.22px;
	height: 9.8px;
}


#vector_ek6 {
	top: 60.16px;
	left: 0px;
	width: 18.22px;
	height: 9.09px;
}


#vector_ek7 {
	top: 13.15px;
	left: 14.48px;
	width: 15.72px;
	height: 15.37px;
}


#vector_ek8 {
	top: 25.84px;
	left: 27.39px;
	width: 73.93px;
	height: 81.3px;
}


#if_you_have_ant_hidden_accounts__please_unhide_through_the_tab_profile___manage_a_c_display___unhide_accounts_for_unhide_debit_accounts_ {
	top: 1671px;
	left: 267px;
	width: 1115px;
	height: 59px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#capitals_gains_plus_account_can_be_viewed_under_deposite_accounts {
	top: 1739px;
	left: 267px;
	width: 1115px;
	height: 51px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}

#group_127 {
	top: 617px;
	left: 50px;
	width: 1340px;
	height: 915px;
}
#group_105 {
	top: 0px;
	left: 46px;
	width: 1239px;
	height: 85px;
}

#last_10_transaction {
	top: 0px;
	left: 0px;
	width: 930.85px;
	height: 30px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#rectangle_226 {
	top: 40px;
	left: 0px;
	width: 1186px;
	height: 47px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background:rgba(255,255,255,1);
}


#search_or_filter_payments {
	top: 51px;
	left: 63px;
	width: 947px;
	height: 29px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: left;
	color:#000000;
}


#filter_1 {
	top: 44px;
	left: 1202px;
	width: 37px;
	height: 37px;
}

#____icon__search_ {
	top: 53px;
	left: 27px;
	width: 17.93px;
	height: 19px;
}

#vector_ek9 {
	top: 14px;
	left: 13px;
	width: 4.48px;
	height: 4.75px;
}


#vector_ek10 {
	top: 0px;
	left: 0px;
	width: 15.37px;
	height: 16.29px;
}


#line_93 {
	top: 103px;
	left: 0px;
	width: 1340px;
	height: 1px;
	background:#DDDDDD;
}

#group_106 {
	top: 192px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#paid_to_mukesh_kumar {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#today_01_24_pm {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 18px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___200 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#FF0000;
}


#closing_balance__1300 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_107 {
	top: 452px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek1 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek1 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#paid_to_mukesh_kumar_ek1 {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#_18_mar__10_26_am {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 35px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek1 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___200_ek1 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#FF0000;
}


#closing_balance__1400 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_108 {
	top: 322px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek2 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek2 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#paid_to_mukesh_kumar_ek2 {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#_25_mar__05_54_pm {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 18px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek2 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___200_ek2 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#FF0000;
}


#closing_balance__1700 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_109 {
	top: 582px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek3 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek3 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#paid_to_mukesh_kumar_ek3 {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#_18_mar__10_26_am_ek1 {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 18px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek3 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___200_ek3 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#FF0000;
}


#closing_balance__1800 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_110 {
	top: 795px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek4 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek4 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#paid_to_mukesh_kumar_ek4 {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#_26_feb__10_50_am {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek4 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___200_ek4 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#FF0000;
}


#closing_balance__1800_ek1 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_111 {
	top: 257px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek5 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek5 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#paid_to_mukesh_kumar_ek5 {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#today_12_24_pm {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 30px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek5 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___200_ek5 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#FF0000;
}


#closing_balance__1500 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_112 {
	top: 517px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek6 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek6 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#paid_to_mukesh_kumar_ek6 {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#_18_mar__10_26_am_ek2 {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 18px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek6 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___200_ek6 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#FF0000;
}


#closing_balance__1600 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_113 {
	top: 387px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek7 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek7 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#receive_from_dinesh_kumar {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#_22_mar__02_16_pm {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 30px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek7 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___500 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#00992A;
}


#closing_balance__1900 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_114 {
	top: 647px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek8 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek8 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#receive_from_dinesh_kumar_ek1 {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#_18_mar__10_26_am_ek3 {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 18px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek8 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___200_ek7 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#00992A;
}


#closing_balance__2000 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}

#group_115 {
	top: 860px;
	left: 46px;
	width: 1239px;
	height: 55px;
}
#group_79_ek9 {
	top: 0px;
	left: 0px;
	width: 962px;
	height: 50px;
}

#ellipse_50_ek9 {
	top: 0px;
	left: 0px;
	width: 52px;
	height: 50px;
	-ms-border-radius: 26px / 25px;
	-o-border-radius: 26px / 25px;
	-moz-border-radius: 26px / 25px;
	-webkit-border-radius: 26px / 25px;
	border-radius: 26px / 25px;
	background:rgba(241,241,241,1);
}


#receive_from_dinesh_kumar_ek2 {
	top: 0px;
	left: 83px;
	width: 902px;
	height: 24px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	text-align: left;
	color:#000000;
}


#_26_feb__10_50_am_ek1 {
	top: 25px;
	left: 83px;
	width: 671px;
	height: 28px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#line_92_ek9 {
	top: 55px;
	left: 87px;
	width: 1152px;
	height: 1.5px;
	background:#DDDDDD;
}


#___2000 {
	top: 0px;
	left: 1100px;
	width: 143px;
	height: 39px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#00992A;
}


#closing_balance__2000_ek1 {
	top: 29px;
	left: 939px;
	width: 310px;
	height: 37px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#000000;
}


#rectangle_278 {
	top: 121px;
	left: 46px;
	width: 1239px;
	height: 46px;
	background:rgba(241,241,241,1);
}


#rectangle_279 {
	top: 726px;
	left: 46px;
	width: 1239px;
	height: 46px;
	background:rgba(241,241,241,1);
}


#march_2023 {
	top: 134px;
	left: 63px;
	width: 610px;
	height: 33px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#feb_2023 {
	top: 739px;
	left: 63px;
	width: 610px;
	height: 33px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
}

#____icon__shop_alt_ {
	top: 205px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek11 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek12 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek13 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek14 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek15 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek16 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek1 {
	top: 466px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek17 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek18 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek19 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek20 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek21 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek22 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek2 {
	top: 336px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek23 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek24 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek25 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek26 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek27 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek28 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek3 {
	top: 596px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek29 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek30 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek31 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek32 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek33 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek34 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek4 {
	top: 665px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek35 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek36 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek37 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek38 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek39 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek40 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek5 {
	top: 273px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek41 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek42 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek43 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek44 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek45 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek46 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek6 {
	top: 531px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek47 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek48 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek49 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek50 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek51 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek52 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek7 {
	top: 401px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek53 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek54 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek55 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek56 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek57 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek58 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek8 {
	top: 809px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek59 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek60 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek61 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek62 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek63 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek64 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#____icon__shop_alt__ek9 {
	top: 874px;
	left: 58px;
	width: 27.62px;
	height: 21.7px;
}

#vector_ek65 {
	top: 0px;
	left: 20px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek66 {
	top: 0px;
	left: 14px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek67 {
	top: 0px;
	left: 7px;
	width: 7.05px;
	height: 7.23px;
}


#vector_ek68 {
	top: 0px;
	left: 0px;
	width: 7.47px;
	height: 7.23px;
}


#vector_ek69 {
	top: 7px;
	left: 1px;
	width: 25.38px;
	height: 14.47px;
}


#vector_ek70 {
	top: 12px;
	left: 9px;
	width: 8.46px;
	height: 9.65px;
}

#group_16 {
	top: 1987px;
	left: 50px;
	width: 215px;
	height: 40px;
}

#rectangle_262 {
	top: 0px;
	left: 0px;
	width: 215px;
	height: 40px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background:rgba(0,103,184,1);
}


#back {
	top: 11px;
	left: -3px;
	width: 229px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}

#login_icon__1__1 {
	top: -7px;
	left: 60px;
	width: 15px;
	height: 19px;
}
#group {
	top: 0px;
	left: 0px;
	width: 15px;
	height: 19px;
}

#vector_ek71 {
	top: 0px;
	left: 0px;
	width: 15px;
	height: 19px;
}

#footer {
	top: 2070px;
	left: 0px;
	width: 1440px;
	height: 741px;
}

#rectangle_233 {
	top: 17px;
	left: 1053px;
	width: 62.83px;
	height: 42.76px;
	
	-ms-transform:rotate(-55.9deg);
	-o-transform:rotate(-55.9deg);
	-webkit-transform:rotate(-55.9deg);
	-moz-transform:rotate(-55.9deg);
	transform:rotate(-55.9deg);
	background:rgba(217,217,217,1);
}


#rectangle_231 {
	top: 29px;
	left: 0px;
	width: 1440px;
	height: 667px;
	background:rgba(0,103,184,1);
}


#copyright___2023_himachal_pradesh_state_co_operative_bank_ltd_all_rights_reserved_ {
	top: 722px;
	left: -3px;
	width: 1453px;
	height: 30px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 16px;
	text-align: center;
	color:#5A5A5A;
}


#line_10 {
	top: 243px;
	left: 0px;
	width: 1440px;
	height: 1px;
	background:#499FE3;
}

#logo {
	top: 80px;
	left: 50px;
	width: 279.39px;
	height: 118.43px;
}

#logo__2__1 {
	top: 0px;
	left: 0px;
	width: 279.39px;
	height: 118.43px;
}


#the_himachal_pradesh_state_cooperative_bank_ltd__is_an_apex_bank_of_the_state_of_himachal_pradesh__and_is_listed_as_scheduled_bank_with_its_branches_spread_across_6_districts_of_the_state_and_one_branch_at_new_subzi_mandi__new_delhi_ {
	top: 102px;
	left: 414px;
	width: 1004px;
	height: 120px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 22px;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_232 {
	top: 0px;
	left: 1084px;
	width: 307px;
	height: 57px;
	background:rgba(0,61.86,110.5,1);
}


#follow___hpscblofficial {
	top: 18px;
	left: 1108px;
	width: 293px;
	height: 36px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: center;
	color:#FFFFFF;
}


#hpscb {
	top: 287px;
	left: 50px;
	width: 326px;
	height: 58px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	color:#9ACEE5;
}


#loans {
	top: 287px;
	left: 387px;
	width: 347px;
	height: 58px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	color:#9ACEE5;
}


#deposits {
	top: 287px;
	left: 745px;
	width: 347px;
	height: 58px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	color:#9ACEE5;
}


#acsti {
	top: 287px;
	left: 1097px;
	width: 347px;
	height: 58px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	color:#9ACEE5;
}


#line_11 {
	top: 322px;
	left: 50px;
	width: 299px;
	height: 1px;
	background:#9ACEE5;
}


#line_12 {
	top: 322px;
	left: 387px;
	width: 299px;
	height: 1px;
	background:#9ACEE5;
}


#line_13 {
	top: 322px;
	left: 745px;
	width: 299px;
	height: 1px;
	background:#9ACEE5;
}


#line_14 {
	top: 322px;
	left: 1097px;
	width: 299px;
	height: 1px;
	background:#9ACEE5;
}


#about_us_managing_committee_board_of_directors_branches_network_atm_network_contact_us_right_to_information_list_of_unclaimed_deposits_customer_grievance_redressal_policy {
	top: 342px;
	left: 41px;
	width: 341px;
	height: 327px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	margin-top: -4.6666666666667px;
	height: 343px;
	color:#FFFFFF;
}


#home_loan_car_loan_personal_loan_education_loan_hotel_motel_tiny_tourism_financing_of_hydel_projects_interest_rates_on_loans {
	top: 342px;
	left: 377px;
	width: 341px;
	height: 264px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	margin-top: -4.6666666666667px;
	height: 280px;
	color:#FFFFFF;
}


#savings_account_current_account_recurring_deposit_fixed_deposit_himpurnivesh_deposit_sarvapriya_deposit_mahalaxmi_deposit_interest_rates_on_deposits {
	top: 342px;
	left: 735px;
	width: 341px;
	height: 289px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	margin-top: -4.6666666666667px;
	height: 305px;
	color:#FFFFFF;
}


#about_acsti_facilities_faculty_courses_calendar_how_to_reach_contact_us {
	top: 342px;
	left: 1087px;
	width: 341px;
	height: 289px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	margin-top: -4.6666666666667px;
	height: 305px;
	color:#FFFFFF;
}

#twitter_color_icon_1 {
	top: 2088px;
	left: 1122px;
	width: 25px;
	height: 25px;
}

#vector_ek72 {
	top: 2.35px;
	left: 0px;
	width: 25px;
	height: 20.31px;
}

#group_104 {
	top: 1987px;
	left: 1171px;
	width: 215px;
	height: 40px;
}
#group_102 {
	top: 0px;
	left: 0px;
	width: 215px;
	height: 40px;
}

#rectangle_262_ek1 {
	top: 0px;
	left: 0px;
	width: 215px;
	height: 40px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background:rgba(0,103,184,1);
}


#home {
	top: 11px;
	left: -3px;
	width: 229px;
	height: 31px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}

#group_103 {
	top: 11px;
	left: 55px;
	width: 16.65px;
	height: 17.57px;
}

#vector_ek73 {
	top: 4px;
	left: 0px;
	width: 7.71px;
	height: 13.15px;
}


#vector_ek74 {
	top: 0px;
	left: 4px;
	width: 12.32px;
	height: 17.57px;
}

#group_126 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 190px;
}
#header {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 144px;
}

#rectangle_373 {
	top: 91px;
	left: 0px;
	width: 1440px;
	height: 53px;
	background:rgba(253,246,244,1);
}


#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 90px;
	background:rgba(0,103,184,1);
}

#logo_ek1 {
	top: 12px;
	left: 50px;
	width: 152px;
	height: 64.43px;
}

#logo__2__1_ek1 {
	top: 0px;
	left: 0px;
	width: 152px;
	height: 64.43px;
}


#hpscb_bank_home_about_us_customer_care_find_atm_branch_mobile_banking {
	top: 32px;
	left: 396px;
	width: 1004px;
	height: 35px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 16px;
	text-align: right;
	color:#FFFFFF;
}


#line_19 {
	top: 42px;
	left: 776px;
	width: 12px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#7CA9CD;
}


#line_20 {
	top: 42px;
	left: 895px;
	width: 12px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#7CA9CD;
}


#line_21 {
	top: 42px;
	left: 1057px;
	width: 12px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#7CA9CD;
}


#line_22 {
	top: 42px;
	left: 1235px;
	width: 12px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#7CA9CD;
}

#mobile_usability_icon__1__1 {
	top: 33px;
	left: 1249px;
	width: 12px;
	height: 17px;
}

#vector_ek75 {
	top: 0px;
	left: 0px;
	width: 12px;
	height: 17px;
}

#caret_down_icon_10 {
	top: 114px;
	left: 612px;
	width: 8px;
	height: 6px;
}
#caret_down_icon_11 {
	top: 114px;
	left: 880px;
	width: 8px;
	height: 6px;
}
#caret_down_icon_12 {
	top: 114px;
	left: 1108px;
	width: 8px;
	height: 6px;
}
#caret_down_icon_13 {
	top: 114px;
	left: 1314px;
	width: 8px;
	height: 6px;
}
#group_14 {
	top: 108px;
	left: 50px;
	width: 1340px;
	height: 23px;
}

#overview_my_accounts_payments___transfer_investments___insurance_exclusive_offerings_customer_service {
	top: 0px;
	left: 7px;
	width: 1343px;
	height: 33px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}

#customer_service_icon_1 {
	top: 0px;
	left: 1157px;
	width: 17.93px;
	height: 18px;
}

#vector_ek76 {
	top: 0px;
	left: 0px;
	width: 17.93px;
	height: 18.01px;
}

#offer_icon_1 {
	top: 0px;
	left: 908px;
	width: 17.93px;
	height: 18px;
}

#vector_ek77 {
	top: 0px;
	left: 0px;
	width: 17.93px;
	height: 18px;
}

#overview_icon_1 {
	top: 0px;
	left: 0px;
	width: 17.93px;
	height: 18px;
}

#vector_ek78 {
	top: 0px;
	left: 0px;
	width: 17.93px;
	height: 18px;
}

#my_account_icon_1 {
	top: 0px;
	left: 158px;
	width: 17.93px;
	height: 18px;
}

#vector_ek79 {
	top: 0px;
	left: 0px;
	width: 17.93px;
	height: 18px;
}

#caret_down_icon_8 {
	top: 6px;
	left: 101px;
	width: 7.97px;
	height: 6px;
}

#vector_ek80 {
	top: 0px;
	left: 0px;
	width: 7.97px;
	height: 6px;
}

#caret_down_icon_9 {
	top: 6px;
	left: 291px;
	width: 7.97px;
	height: 6px;
}

#vector_ek81 {
	top: 0px;
	left: 0px;
	width: 7.97px;
	height: 6px;
}


#vector_ek82 {
	top: 7px;
	left: 555px;
	width: 8px;
	height: 5px;
}


#vector_ek83 {
	top: 7px;
	left: 848px;
	width: 8px;
	height: 5px;
}


#vector_ek84 {
	top: 7px;
	left: 1104px;
	width: 8px;
	height: 5px;
}


#vector_ek85 {
	top: 7px;
	left: 1332px;
	width: 8px;
	height: 5px;
}

#wire_transfer_icon_1 {
	top: 1px;
	left: 348px;
	width: 24.91px;
	height: 16px;
}

#vector_ek86 {
	top: 0px;
	left: 0px;
	width: 24.91px;
	height: 16px;
}

#investment_analysis_icon_1 {
	top: 0px;
	left: 607px;
	width: 25.9px;
	height: 18px;
}

#vector_ek87 {
	top: 0px;
	left: 0px;
	width: 25.9px;
	height: 18px;
}


#group_26 {
	top: 156px;
	left: 1340px;
	width: 27px;
	height: 27px;
}


#line_41 {
	top: 190px;
	left: 0px;
	width: 1440px;
	height: 1px;
	background:#DDDDDD;
}


#dashboard___account___account_summary {
	top: 159px;
	left: 50px;
	width: 427px;
	height: 29px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#5B5B5B;
}


#_28_mar_2023____04_16_06_am_ist__ {
	top: 160px;
	left: 1105px;
	width: 247px;
	height: 28px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 14px;
	text-align: left;
	color:#000000;
}

#thin_chevron_arrow_right_icon_1 {
	top: 163px;
	left: 1377px;
	width: 10px;
	height: 16px;
}

#vector_ek88 {
	top: 0px;
	left: 0px;
	width: 10px;
	height: 16px;
}


#line_44 {
	top: 170px;
	left: 752px;
	width: 40px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#DDDDDD;
}

/*added by Priyanka */

.accNo {
	top: 550px;
	left: 96px;
	width: 451px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
	position: relative;

}
.accBranch {
	top: 550px;
	left: 948px;
	width: 211px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
	position: relative;
}
.accBalance{
	top: 550px;
	left: 522px;
	width: 211px;
	height: 32px;
	overflow: hidden;
	font-family: Montserrat;
	font-size: 20px;
	text-align: left;
	color:#000000;
	position: relative;
}

/* Add your custom CSS here */
